<h1>ラジオ番組表 <%= @today.strftime('%Y/%m/%d') %></h1>

<h3 class="my-3">都道府県</h3>
<%= form_with(url: programs_index_path) do |form| %>
    <%= form.select :prefecture, @prefectures, {selected: @selected_prefecture_code}, {class: "form-select w-25"} %>
    <div class="text-start">
        <%= form.submit "OK", class: "btn btn-primary my-3" %>
    </div>
<% end %>

<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th></th>
            <% @stations.each do |station| %>
                <th><%= station.name %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @hours.each do |hour| %>
            <tr>
                <th><%= hour %></th>
                <% @stations.each do |station| %>
                    <td>
                        <% if !station.progHash[hour].nil? %>
                            <ul class="list-group">
                                <% station.progHash[hour].each do |program| %>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <a href="/programs/<%= program.id %>">
                                            <%= program.title %>
                                        </a>
                                        <% if program.messages.count > 0 %>
                                            <span class="badge bg-primary rounded-pill"><%= program.messages.count %></span>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>