<h1>Radibo</h1>
<h5>ラジオ番組掲示板</h5>

<div class="mt-5"></div>
<%= form_with(url: programs_index_path) do |form| %>
    <div class="row">
        <div class="col-auto col-form-label "><%= form.label :prefecture, "都道府県" %></div>
        <div class="col-auto"><%= form.select :prefecture, @prefectures, {selected: @selected_prefecture_code}, {class: "form-select"} %></div>
        <div class="col-auto"><%= form.submit "OK", class: "btn btn-primary" %></div>
    </div>
<% end %>

<div class="mt-5"></div>
<h5><%= @today.strftime('%Y/%m/%d') %></h5>
<p>※5時更新</p>
<table class="table table-bordered programs-table">
    <thead>
        <tr>
            <th class="bg-info"></th>
            <% @stations.each do |station| %>
                <th class="bg-info"><%= station.name %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @hours.each do |hour| %>
            <tr>
                <th class="bg-info"><%= hour %></th>
                <% @stations.each do |station| %>
                    <td>
                        <% if !station.progHash[hour].nil? %>
                            <ul class="list-group">
                                <% station.progHash[hour].each do |program| %>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <a href="/programs/<%= program.id %>">
                                            <%= program.title %>
                                        </a>
                                        <% if program.messages.count > 0 %>
                                            <span class="badge bg-primary rounded-pill"><%= program.messages.count %></span>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>