<h1><%= @program['title'] %></h1>

<p><%= @program['start_time'].strftime("%Y-%m-%d %H:%M:%S") %> ～ <%= @program['end_time'].strftime("%Y-%m-%d %H:%M:%S") %></p>
<image src=<%= @program['image'] %>>

<ul>
    <% if !@program['information'].nil? %>
        <li class="li-program"><%= @program['information'].html_safe %></li>
    <% end %>
    <% if !@program['url'].nil? %>
        <li class="li-program"><a href="<%= @program['url'] %>" target="_blank"><%= @program['url'] %><a></li>
    <% end %>
    <% if !@program['performers'].nil? %>
        <li class="li-program"><%= @program['performers'] %></li>
    <% end %>
</ul>

<%= link_to 'Back', root_path %>

<hr>

<h2>掲示板</h2>

<% flash.each do |flash_message_type, flash_messages| %>
    <% flash_messages.each do |flash_message| %>
        <div class="alert alert-<%= flash_message_type %>"><%= flash_message %></div>
    <% end %>
<% end %>

<h3 class="my-3">投稿一覧</h3>
<% if @program.messages.count == 0 %>
    <p>投稿はありません。</p>
<% else %>
    <% @program.messages.each_with_index do |message, index| %>
        <div class="card my-3">
            <div class="card-header">
                <%= message.name %> (No.<%= index+1 %>)
                <span class="float-end">
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deletePasswordModal" data-bs-deleteId="<%= message.id %>">削除</button>
                </span>
            </div>
            <div class="card-text p-3">
                <%= raw Rinku.auto_link(simple_format(message.content), :all, 'target="_blank"') %>
            </div>
            <div class="card-footer text-end">
                <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            </div>
        </div>
    <% end %>
<% end %>

<%= link_to 'Back', root_path %>

<h3 class="my-3">投稿フォーム</h3>
<% if @program.messages.count < 10 %>
    <%= form_with(model: @message, url: messages_create_path) do |form| %>
        <%= form.hidden_field :program_id, {value: @program['id']}%>

        <!--- https://qiita.com/miku66/items/9de7c5ef625d7704da2a --->
        <ul>
            <li id="name">
                <%= form.label :name, "投稿者" %>
                <%= form.text_field :name, class: "form-control" %>
            </li>
            <li id="content">
                <%= form.label :content, "内容" %>
                <%= form.text_area :content, :size => "60x10", class: "form-control" %>
            </li>
            <li id="delete-password">
                <%= form.label :delete_password, "削除用パスワード" %>
                <%= form.password_field :delete_password, class: "form-control" %>
            </li>
        </ul>
        <div class="text-end">
            <%= form.submit "保存", class: "btn btn-primary" %>
        </div>
    </li>
    <% end %>
<% else %>
    <p>最大投稿数に達しました。投稿できません。</p>
<% end %>

<%= link_to 'Back', root_path %>

<!-- 削除用パスワード入力モーダル -->
<div class="modal fade" id="deletePasswordModal" tabIndex="-1" aria-labelledby="deletePasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <%= form_with url: "/messages/delete" do |form| %>
                <div class="modal-header">
                    <h1 class="modal-title fs-5">title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>削除用パスワードを入力してください。</p>
                    <%= form.text_field :password %>
                    <%= form.hidden_field :messageId %>
                </div>
                <div class="modal-footer">
                    <%= form.submit 'OK', class: "btn btn-primary" %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            <% end %>
        </div>
    </div>
</div>


<script>
    const deletePasswordModal = document.getElementById('deletePasswordModal');
    if (deletePasswordModal) {
        deletePasswordModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const deleteId = button.getAttribute('data-bs-deleteId');

            const messageId = deletePasswordModal.querySelector('#messageId');
            messageId.value = deleteId;
        });
    };
</script>